:root {
    --section-inline-p: 2rem;
    --section-block-p: 3rem;
}
.page {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 0;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.gap-1 {
    gap: 5px;
}
.circle {
    border-radius: 50%;
}
.section,
.section-header,
.section-body {
    width: 100%;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-content {
    flex: 1;
    max-width: 1340px;
    padding: var(--section-block-p) var(--section-inline-p);
}
.section-header {
    display: flex;
}
.section-body {
    display: flex;
    flex-direction: column;
}
.pt-1 {
    padding-block: 0.5rem;
}
.btn {
    margin: 1rem 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: gray;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}
.btn:hover {
    background-color: antiquewhite;
}

@media only screen and (max-width: 992px) {
    :root {
        --section-block-p: 2.5rem;
    }
    .section-content {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    :root {
        --section-inline-p: 1.5rem;
        --section-block-p: 2rem;
    }
}
@media only screen and (max-width: 479px) {
    :root {
        --section-inline-p: 1rem;
        --section-block-p: 1rem;
    }
}
